<p id="notice"><%= notice %></p>

<p>
  <b>Domain:</b>
  <%= @alert.domain_id %>
</p>

<p>
  <b>User:</b>
  <%= @alert.user_id %>
</p>


<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
